$fonts-folder: 'fonts/calluna';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'Druk-Medium';
    src: url('./fonts/Druk-Medium.woff2') format('woff2'),
        url('./fonts/Druk-Medium.woff') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Calluna';
    src: url('./fonts/calluna/Calluna-Regular.woff') format('woff'),
        url('./fonts/calluna/Calluna-Regular.svg') format('svg'),
        url('./fonts/calluna/Calluna-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}