.editor-styles-wrapper {
    .acf-block-preview {

        p,
        span,
        ul,
        ol,
        a {
            font-family: 'Bitter', serif;
        }

        .hero--home {
            .hero__text {
                .title {
                    font-size: 160px;
                }
            }
        }

        .text-papper {
            .content__text {
                .title {
                    font-size: 65px;

                    span {
                        font-size: 65px;
                    }
                }
            }

            .content__description {
                max-width: 85%;
            }
        }

        .number_grid__cont {
            .number {
                font-size: 130px;
            }

            .number_text {
                font-size: 57px;
            }

            .number_grid__item {
                .number_content {
                    font-size: 20px;
                }
            }
        }

        .slider-links {
            .swiper-cont {
                .slider-partners {
                    .item img {
                        width: 350px;
                    }
                }
            }
        }

        .image-text {
            background-color: #3ACBED;

            .image-text__title {
                text-transform: uppercase;
                font-size: 60px;
            }
        }
    }

    .acf-icon.dark {
        text-decoration: none;
    }
}