.accordion--faqs {
    padding-top: rv(60px, 125px);
    padding-bottom: rv(60px, 125px);
    position: relative;

    .accordion__question {
        color: $pink-color;
        font-size: rv(22px, 30px);
        font-weight: 400;
        line-height: 1;
        font-style: italic;
        padding: 30px 30px 30px 64px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 0.3s ease;

        &::after {
            content: '';
            background: url(images/icons/arrow-select-pink.png) no-repeat center/contain;
            display: inline-block;
            width: 29px;
            height: 29px;
            transition: all 0.3s ease;
        }
    }

    .accordion__item {
        border-bottom: 1px solid $pink-color;
        width: 100%;
        cursor: pointer;
        transition: all 0.3s ease;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            .accordion__question {
                transform: translate(10px);
            }
        }

        &.js-open {
            .accordion__question::after {
                transform: rotate(-95deg);

            }
        }
    }

    .accordion__answer {
        font-size: rv(18px, 24px);
        font-weight: 400;
        line-height: 1.4;
        color: $white;
        padding: 0 30px 20px 64px;
        font-style: italic;
        display: none;
    }

    &::before {
        content: '';
        background: url(images/icons/barra.svg) no-repeat center/contain;
        display: inline-block;
        position: absolute;
        top: auto;
        bottom: 100%;
        left: 0;
        width: 68%;
        height: 14px;
    }
}