.image-text {
    position: relative;

    &::after {
        content: '';
        background-color: $light-blue-color;
        position: absolute;
        top: 10px;
        z-index: -1;
        width: 100%;
        height: 456px;

    }

    &__cont {
        display: flex;
        align-items: center;



    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: flex-start;
        align-self: flex-start;
    }

    &__image {
        position: relative;

        &__logo {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 20px;

        a,
        img {
            width: 240px;
            height: 78px;
            object-fit: cover;
        }
    }

    &__title {
        font-size: rv(18px, 55px);
        font-weight: 700;
        font-family: $secondary-font;
        color: $white;
        margin-top: 20px;
    }
}